* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#adviceText {
  color: rgb(135, 151, 151);
  margin-top: 2px;
}

#container {
  margin-top: 15px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

#errText {
  color: red;
  margin-top: 5px;
}

.headding {
  padding: 10px 0px;
}

#inputBox,
#searchBtn {
  padding: 2px 10px;
}

#main {
  height: 100vh;
}

#main,
#container {
  display: flex;
}

#main,
#noResultBox {
  align-items: center;
  flex-direction: column;
}

#noResultBox {
  display: none;
  margin-top: 15px;
}